<!-- <mat-card>  
    <div class="alert alert-info">  
        <strong>Data</strong>  
    </div>  
          <table border="striped">
              <tr>
                  <th>Asia</th>
                  <th>Japan</th>
                  <th>Mumbai</th>
                  <th>Hong Kong</th>
                  <th>Paris</th>
                  <th>Bucharest</th>
                  <th>China</th>
              </tr>
              <tr>
                <td>24</td>
                <td>5</td>
                <td>10</td>
                <td>8</td>
                <td>26</td>
                <td>9</td>
                <td>19</td>
              </tr>
            </table>
  </mat-card>   -->




  <mat-card>  
    <div class="alert alert-info">  
        <strong>Bar Chart</strong>  
    </div>  
    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>  
</mat-card>  